<app-header></app-header>
<div *ngIf="setAlert==true" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Pokemon Added !!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="setfalse()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<button class="btn btn-primary my-2 mx-3"  data-bs-toggle="modal" data-bs-target="#exampleModal">Pokemon</button>

<div class="container my-2 mx-auto">
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="pokemonform">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pokemon Name" formControlName="name">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >Speciality</label>
              <input type="text" class="form-control" id="exampleInputEmail1" formControlName="speciality" placeholder="Pokemon Name">
             
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >URL</label>
              <input type="text" class="form-control" id="exampleInputEmail1" formControlName="imageUrl"  npm  placeholder="Pokemon Name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" (click)="addPokemon()" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      
          <div *ngFor="let pokemon of pokemons">
          <app-pokemon-table [pokemon]="pokemon"></app-pokemon-table>
            
          
          </div>
        
      
  </div>
</div>