

<!-- 
    <td scope="row">{{pokemon.id}}</td>
    <td>{{pokemon.name}}</td>
    <td> <img src="{{pokemon.imageUrl}}" style="width: 50xp; height: 50px;" alt=""> </td>
    <td>{{pokemon.speciality}}</td> -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{pokemon.imageUrl}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{pokemon.name}}</h5>
            <p class="card-text">{{pokemon.speciality}}</p>
        </div>
    </div>